<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"

    android:versionCode="1062"
    android:versionName="3.7.1-1062"
>
<!--                     | | | |-> incremental build count
                         | | |-> patch
                         | |-> minor
                         |-> major
-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage"
    />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.fezrestia.android.webviewwindow.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
    >
        <activity
            android:name="com.fezrestia.android.webviewwindow.activity.SettingActivity"
            android:theme="@style/Theme.AppCompat"
            android:launchMode="singleTask"
            android:taskAffinity="webviewwindow.setting"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fezrestia.android.webviewwindow.activity.ChromeCustomTabBaseActivity"
            android:theme="@style/TranslucentTheme"
            android:launchMode="standard"
            android:taskAffinity="webviewwindow.chrome_custom_tab_base"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver
             android:name="com.fezrestia.android.webviewwindow.receiver.WebViewWindowReceiver"
             android:exported="false"
        >
            <intent-filter>
                <action android:name="com.fezrestia.android.webviewwindow.intent.ACTION_TOGGLE_OVERLAY_VISIBILITY" />
                <action android:name="com.fezrestia.android.webviewwindow.intent.ACTION_TOGGLE_ENABLE_DISABLE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.fezrestia.android.webviewwindow.service.WebViewWindowService"
            android:exported="false"
        />

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true"
        />

        <receiver
            android:name=".widget.EnableDisableToggler"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_enable_disable_toggler_info"
            />
        </receiver>

    </application>
</manifest>

